@{
    ViewBag.Title = "FlickrAuthorize";
}

<h2>the application has been authorized</h2>

<table>
    <tr>
        <td>Key</td>
        <td>@ViewBag.Key</td>
    </tr>
    <tr>
        <td>KeySecret</td>
        <td>@ViewBag.KeySecret</td>
    </tr>
    <tr>
        <td>Token</td>
        <td>@ViewBag.Token</td>
    </tr>
    <tr>
        <td>TokenSecret</td>
        <td>@ViewBag.TokenSecret</td>
    </tr>
    <tr>
        <td>TokenVerifier</td>
        <td>@ViewBag.TokenVerifier</td>
    </tr>

</table>
